*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    outline: 0;
}

.post{
    background-color: #9fc9c8;
    border: #648382 solid 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 50rem;
}

.avatar{
    width: 100px;
    border-radius: 100%;
    border: white solid 2px;
    margin: 20px;
}

.like{
    color: #45b145;
    align-self: flex-end;
    font-size: 20px;

}

.text{
    background-color: white;
}
