.container{
    display: flex;
    flex-direction: row;
}

.btn_message{
    height: 2rem;
    margin: 10px;
    width: 6rem;
    background-color: #f7c5bc;
    border: #925c58 solid 1px;
    font-size: .7rem;
    color: #925c58;
}

.text{
    height: 3rem;
    width: 10rem;
}
