
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.distinction{
    background-color: #648382;
    height: 2px;
    width: 45rem;
    margin: 2rem;
}

.text{
    height: 10rem;
    font-size: 15px;
    width: 40rem;
}

button{
    height: 2rem;
    width: 6rem;
    align-self: center;
    margin-top: 2rem;
    background-color: #f7c5bc;
    border: #925c58 solid 2px;
    font-size: 1rem;
    color: #925c58;
}
