.app-wrapper{

  width: 1000px;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  'h h'
  'n c';

  grid-template-rows: 100px 2fr;
  grid-template-columns: 2fr 10fr;

}


.app-wrapper-content{
  grid-area: c;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
