.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100%;
}

.dialogs{
    background-color: #9fc9c8;
    display: flex;
    flex-direction: column;

}

.dialogs img{
    width: 50px;
    border-radius: 100%;
}


